/* src/base.css */

/* Style the scrollbar */
::-webkit-scrollbar {
  position: fixed;
  width: 10px;
}

body {
  margin-right: 10px;
}

/* Style the scrollbar thumb */
::-webkit-scrollbar-thumb {
  background: #888; /* Scrollbar color */
  border-radius: 10px; /* Scrollbar corner */
}

::-webkit-scrollbar-thumb:hover {
  background: #555; /* Scrollbar color when hovering */
}
